@{
    ViewData["Title"] = "Home Page";
}


@if (User?.Identity?.IsAuthenticated ?? false)
{
    <h1>Welcome, @User.Identity.Name</h1>
    <!--
    <p>
        @foreach (var claim in Context.User.Claims)
        {
            <div><code>@claim.Type</code>: <strong>@claim.Value</strong></div>
        }
    </p>
    -->

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Выход" />
    </form>

    <a asp-controller="ContentPage" , asp-action="ContentPage">
        <input type="submit" value="Content" />
    </a>
    <a asp-controller="Roles" , asp-action="Index">
        <input type="submit" value="Roles" />
    </a>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
